@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg-color: #fff;
  --header-bg-color: #ffffff;
  --footer-bg-color: #fffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --header-bg-color: #171717;
    --footer-bg-color: #171717;
  }
}

body {
  background-color: var(--body-bg-color);
}

header {
    background-color: var(--header-bg-color);

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

footer {
  background-color: var(--header-bg-color);
}

.publicationsSelector {
  @apply flex gap-4 mb-10;

  a {
    @apply rounded-full bg-slate-100 p-2 px-4 font-medium text-lg text-black;
  }

  a.active {
    @apply bg-black text-white;
  }
}
